//Font Family
$fontFamily: "Ubuntu", sans-serif;

//Font Weights
$fwextraLight: 200;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwBold: 700;

$background: #1a1a1a;

// Colors
$gfOrange: #f26522;
$black: #000;
$white: #fff;
$mmlightgray: #f2f2f2;

// FontSizes
$h1Size: 40px;
$h2Size: 36px;
$h3Size: 30px;
$pSize: 16px;
$aSize: 14px;
